language: node_js
node_js:
  - "0.12"
  - "0.11"
  - "0.10"
script:
  - npm run test-cover
  - npm run test-integration
after_success:
  - npm install -g codeclimate-test-reporter
  - codeclimate-test-reporter < coverage/lcov.info